{% extends 'admin/base.html' %}
{% load admin_urls %}
{% block content  %}
<div class="container  d-flex justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="card shadow border" style="width: 42rem;text-align: left;font-size: 20px">
        <div class="card-body h4">
          Restitutions
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ressource: {{restitution.ressource}}</li>
       </ul><li class="list-group-item">Materiel: {{restitution.materiel}}</li>
       <li class="list-group-item">Description: {{restitution.description}}</li>
       <li class="list-group-item">Date_restitution: {{restitution.date_restitution}}</li>
       <li class="list-group-item">Fichier: {{restitution.fichier}}</li>
      </div>
      
    </div>
    <div class="col-6 d-flex justify-content-start row">
      <a href="{% url 'admin:parcinformatique_restitution_change' restitution.id %}" class="btn-lg btn-primary">Modifier</a>
    </div >
    <div class="col-3 d-flex justify-content-end">
      <a href="{% url 'admin:parcinformatique_restitution_changelist'  %}" class="btn-lg btn-danger">Fermer</a>
    </div>
  </div>
  
</div>


{% endblock  %}

<a href="{% url 'admin:parcinformatique_maintenance_changelist'  %}" class="btn btn-secondary">Fermer</a>