{% extends 'admin/base.html' %}
{% load admin_urls %}
{% block content  %}
<div class="container  d-flex justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="card shadow border" style="width: 40rem;text-align: left;">
        <div class="card-body h4 list-group-item active ">
          Maintenancier
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Raison social: {{maintenancier.raison_social}}</li>
        <li class="list-group-item">Email: {{maintenancier.email}}</li>
        <li class="list-group-item">Telephone: {{maintenancier.telephone}}</li>
        <li class="list-group-item">Situation geographique: {{maintenancier.situation_geographique}}</li>
        <li class="list-group-item">Domaine activite: {{maintenancier.domaine_activite}}</li>
      </ul>
      </div>
      
    </div>
    <div class="col-6 d-flex justify-content-start row">
      <a href="{% url 'admin:parcinformatique_maintenancier_change' maintenancier.id %}" class="btn-lg btn-primary">Modifier</a>
    </div >
    <div class="col-3 d-flex justify-content-end">
      <a href="{% url 'admin:parcinformatique_maintenancier_changelist'  %}" class="btn-lg btn-danger">Fermer</a>
    </div>
  </div>
  
</div>


{% endblock  %}

<a href="{% url 'admin:parcinformatique_maintenance_changelist'  %}" class="btn btn-secondary">Fermer</a>