{% extends 'admin/base.html' %}
{% load admin_urls %}
{% block content  %}
<div class="container  d-flex justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="card shadow border" style="width: 42rem;text-align: left;">
        <div class="card-body h4 list-group-item active ">
          Materiels
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Mype materiel:{{materiel.type_materiel}}</li>
          <li class="list-group-item">Marque: {{materiel.marque}}</li>
          <li class="list-group-item">Mumero serie: {{materiel.numero_serie}}</li>
          <li class="list-group-item">Modele: {{materiel.modele}}</li>
          <li class="list-group-item">Processeur: {{materiel.processeur}}</li>
          <li class="list-group-item">Rame: {{materiel.rame}}</li>
          <li class="list-group-item">Disque dur {{materiel.disque_dur}}</li>
          <li class="list-group-item">Type disque_dur: {{materiel.type_disque_dur}}</li>
          <li class="list-group-item">Taille ecran: {{materiel.taille_ecran}}</li>
          <li class="list-group-item">Etat achat: {{materiel.etat_achat}}</li>
          <li class="list-group-item">Fournisseur: {{materiel.fournisseur}}</li>
          <li class="list-group-item">Garantie: {{materiel.garantie}}</li>
          <li class="list-group-item">Date acquisition: {{materiel.date_acquisition}}</li>
       </ul>
       
      </div>
      
    </div>
    <div class="col-6 d-flex justify-content-start row">
      <a href="{% url 'admin:parcinformatique_materiel_change' materiel.id %}" class="btn-lg btn-primary">Modifier</a>
    </div >
    <div class="col-3 d-flex justify-content-end">
      <a href="{% url 'admin:parcinformatique_materiel_changelist'  %}" class="btn-lg btn-danger">Fermer</a>
    </div>
  </div>
  
</div>


{% endblock  %}